<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="3px">
            <tr>
                <th>Dno</th>
                <th>Dname</th>
                <th>D_loc</th>
            </tr>
            {% for to in DTO %}
            <tr>
                <td>{{to.Dno}}</td>
                <td>{{to.Dname}}</td>
                <td>{{to.D_loc}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>